# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.angular/
out-tsc/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Artefacts de build Angular, ne doivent jamais être versionnés
chunk-*.js
chunk-*.js.map
main.js
main.js.map
polyfills.js
polyfills.js.map
styles.css
styles.css.map
*.component.css.map
