# Build
target/
*.jar
*.war
*.class

# IDE
.idea/
.vscode/
*.iml

# Docker
.docker/

# Security reports (ne pas committer)
security/trivy/trivy-report.html
security/zap/zap-report.*
app/target/dependency-check-report/

# Secrets
*.env
.env.*
**/application-prod.properties

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
